{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'venueapp/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'venueapp/css/eventExtra.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
        <a class="navbar-brand text-light col-sm text-center" href="{% url "index" %}">Home</a>  
        <a class="navbar-brand text-light col-sm text-center"  href="{% url "addEvent" %}">Add New Event</a>
        <a class="navbar-brand text-light col-sm text-center"  href="{% url "removeEvent" %}">Remove Event</a>
    </nav>
</head>
<body class="bg-light">
    <h1 class="text-center p-1">{{ event.name }}</h1>
    <h3 class="text-center p-1">Hosted by: {{event.host}}</h3>
    <h3 class="text-center p-1">Date: {{event.date}}</h3>
    {% if event.soldOut == True %}
        <h3 class="text-center p-1 text-danger">Event is sold out!</h3>
    {% endif %}
    <h1 class="text-center p-3">Seating Chart</h1>
    <div class="row p-3 text-center">
        <div class="col text-right pr-5">Available = 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
        </svg>
      </div>
<div class="col text-left pl-5">
Booked = 
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-square-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
</svg>
  
  </div>
</div>
    <div class="row p-2" >
        <div class="col text-center">
          {% for row in rowedSeats %}
            <div>
            {% for seat in row %}
             {% if seat.booked == True %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
         </svg>
          {% else %}
          <a href="{% url 'seatPage' seat.id %}">
          <svg class="text-decoration-none link-dark"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
           <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/> 
         </svg>
       </a>        {% endif %}
       {% endfor %}
      </div>
     {% endfor %}
        </div>
        
    </div>
    
    
</body>
</html>