<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <button>
            <a href="{% url "index" %}">Home</a>
        </button>
    </nav>
</head>
<h1>Select an Event</h1>
<body>
    
    <ul>
        {% for event in events %}
            <li>
                <a href="{% url "event" event.id %}">{{ event.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url "addEvent" %}">Add New Event</a>
    </div>

</body>
</html>