{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'venueapp/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'venueapp/css/indexExtra.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row"> 
        <a class="navbar-brand text-light col-sm text-center" href="{% url "index" %}">Home</a>  
        <a class="navbar-brand text-light col-sm text-center"  href="{% url "addEvent" %}">Add New Event</a>
        <a class="navbar-brand text-light col-sm text-center"  href="{% url "removeEvent" %}">Remove Event</a>
    </nav>
</head>
<body class="bg-light">
    <h1 class="text-center p-3">Remove an Event</h2>
    <ul class="list-group p-3">
    {% for event in events %}
        <li class="list-group-item mx-auto border border-secondary">
            <a href={% url "delete" event.id %}>{{ event.name }}</a>
           
        </li>
    {% endfor %}
    </ul>
</body>
</html>